.main {
  background-color: #424242;
  width: 100%;
  height: 100vh;
  text-align: center;
}
.name {
  color: #70F0AE;
}
.title {
  font-size: 45px;
}
.todo {
  color: #70F0AE;
  font-size: 50px;
  font-weight: bold;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid #70F0AE;
  text-align: left;
  padding: 8px;
}

.go {
  margin-left: 10px;
}

.main-box {
  /* margin-top: 100px; */
  background-color: #242424;
  max-width: 600px;
  margin: auto;
}
/* tr:nth-child(even) {
  background-color: #dddddd;
} */
